.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.root {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.upload-container {
  position: relative;
}

.upload-container,
.result-container {
  width: 50%;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.document-container,
.input-container,
.button-container {
  width: 100%;
}

.document-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
}

select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  @media screen and (max-width: 900px) {
    margin-bottom: 30px;
  }
}

.button,
input::file-selector-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #f32b09;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
}

button[disabled] {
  cursor: default;
  background-color: #e2e2e2;
  color: #8c8c8c;
}

.upload-button,
.download-button {
  margin-right: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.message {
  font-size: small;
  margin-top: 10px;
  color: #9d2e1a;
}

.separator-container {
  display: flex;
  flex-direction: row;
}

#line-separator,
#element-separator {
  width: 50px;
  margin-left: 5px;
}

#line-separator {
  margin-right: 30px;
}

.result-text {
  height: 500px;
  padding: 10px;
  margin: 0;
  overflow-y: scroll;
  border-radius: 0.5555555556vw;
  background-color: #f5f5f5;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
